<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Blogs</title>
</head>

<body>
    <h2>Blog List</h2>
    <br> {% for post in posts %}
    <li>
        <a href="{% url 'blog:detail' post.id %}">{{post.title}}</a> - <a href="{% url 'blog:update' post.id %}">Editar</a> - <a href="{% url 'blog:delete' post.id %}">Eliminar</a></li>
    {% endfor %}
    <br>
    <a href="{% url 'blog:create' %}">Crear</a>
</body>

</html>